In [ ]:
!pip install -q google-cloud-bigquery pandas
!pip install -q db-dtypes

In [4]:
# Configure environmental variable with credentials
import os
credentials_path="verdant-cargo-426713-k3-71ab39a331b3.json"
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path

In [7]:
from google.cloud import bigquery
import pandas as pd

def fetch_table_as_dataframe(client, table_id):
    """Fetches all data from a BigQuery table and returns it as a DataFrame."""
    query = f"SELECT * FROM `{table_id}`"
    query_job = client.query(query)
    results = query_job.result()
    # Convert results to DataFrame
    df = results.to_dataframe()
    return df


client = bigquery.Client()

# TABLAS
#metadata_Stbcks =  "verdant-cargo-426713-k3.google.metadata_starbucks"
#reviews_google = "verdant-cargo-426713-k3.google.reviews_starbucks"
#review_yelp = "verdant-cargo-426713-k3.YELP.review"
#business_yelp = "verdant-cargo-426713-k3.YELP.business"
user_yelp = "verdant-cargo-426713-k3.YELP.user"


# Fetch data from tables
user_yelp_df = fetch_table_as_dataframe(client, user_yelp)

c:\Users\torin\Desktop\Programaci√≥n\Henry\Prueba_PF_Henry\sklearn-env\Lib\site-packages\google\cloud\bigquery\table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [8]:
user_yelp_df.head()

,user_id,name,review_count,useful,funny,cool,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,k6HHDhk12xIfmjFGffnoeA,Lizzie,1,0,0,0,1.0,0,0,0,0,0,0,0,0,0,0,0
1,Boi6Cl7sqdQaiziD7O7Fcw,Ron,1,0,0,0,1.0,0,0,0,0,0,0,0,0,0,0,0
2,vQPqYenKHBZEbKz73anHeQ,Kritika,1,0,0,0,1.0,0,0,0,0,0,0,0,0,0,0,0
3,5VYSsCiPSVewvT5R08dWxA,Bryanna,1,0,0,0,1.0,0,0,0,0,0,0,0,0,0,0,0
4,nMMNBeS7a08KKcgatt8Q9g,Kimberly,1,0,0,0,1.0,0,0,0,0,0,0,0,0,0,0,0