In [8]:
import yfinance as yf
import pandas as pd
import pyarrow.parquet as pq

### Descargar informacion de Nasdaq de la empresa Starbucks

In [9]:
# Descargar datos de Starbucks (SBUX) desde Yahoo Finance
ticker = 'SBUX'
data = yf.download(ticker, start='2016-01-01', end='2024-01-01')

[*********************100%%**********************]  1 of 1 completed

In [10]:
# Guardar los datos en un archivo Parquet
data.to_parquet('..//data//starbucks_nasdaq_data.parquet')

In [11]:
# Carga el archivo .parquet en un DataFrame de Pandas
df_nasdaq_starbucks = pd.read_parquet('..//data//starbucks_nasdaq_data.parquet')

In [12]:
df_nasdaq_starbucks

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-01-04  58.770000  58.830002  57.599998  58.259998  49.182030  13521500
2016-01-05  58.790001  58.790001  57.980000  58.650002  49.511265   9617800
2016-01-06  57.700001  58.529999  57.639999  58.130001  49.072296   8266300
2016-01-07  56.880001  57.910000  56.160000  56.689999  47.856663  11140900
2016-01-08  57.410000  57.730000  56.529999  56.630001  47.806015  10427000
...               ...        ...        ...        ...        ...       ...
2023-12-22  94.889999  95.830002  94.339996  95.279999  93.997040   6360400
2023-12-26  95.339996  95.690002  94.959999  95.669998  94.381783   3709500
2023-12-27  95.690002  95.779999  94.790001  95.290001  94.006905   4959300
2023-12-28  95.500000  95.970001  95.110001  95.930000  94.638283   4518300
2023-12-29  95.879997  96.349998  95.349998  96.010002  94.717209   6134000

[2012 rows x 6 columns]

In [13]:
df_nasdaq_starbucks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2012 entries, 2016-01-04 to 2023-12-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2012 non-null   float64
 1   High       2012 non-null   float64
 2   Low        2012 non-null   float64
 3   Close      2012 non-null   float64
 4   Adj Close  2012 non-null   float64
 5   Volume     2012 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 110.0 KB

In [ ]:
# Guardar los datos en un archivo Parquet
data.to_parquet('..//data//starbucks_nasdaq_data.parquet')