In [1]:
import pandas as pd

### Cargar business.parquet

In [25]:
# Carga el archivo .parquet en un DataFrame de Pandas
df_business = pd.read_parquet('..//data//business.parquet')

### Preparar el achivo tip.parquet

In [26]:
# Carga el archivo .parquet en un DataFrame de Pandas
df_tip = pd.read_parquet('..//data//tip.parquet')

In [27]:
# Filtrar review_1 para incluir solo las filas donde business_id está en business_fl
df_tip = df_tip[df_tip['business_id'].isin(df_business['business_id'])]

In [28]:
# Función para normalizar y capitalizar texto
def normalize_and_capitalize(text):
    if text is None:
        return ''
    # Convertir a minúsculas y luego capitalizar la primera letra de cada palabra
    normalized_text = ' '.join([word.capitalize() for word in text.lower().split()])
    return normalized_text

In [29]:
# Convertir la columna 'text' a tipo str y luego aplicar la función usando .loc
df_tip.loc[:, 'text'] = df_tip['text'].astype(str).apply(normalize_and_capitalize)

In [30]:
# Verificar los primeros registros de la columna 'text' después de la transformación
print(df_tip['text'].head())

0                Great Customer Service On Every Visit
1    Never Have A Bad Experience Here. Fast, Friend...
2    Sundays In The Summer Are Nice, Relaxed, And C...
3    Small Place. They Need To Keep The Cream/milk ...
4    Wear Your Winter Clothes If You're Staying - B...
Name: text, dtype: object

In [31]:
# Función para normalizar y capitalizar texto
def normalize_and_capitalize(text):
    if text is None:
        return ''
    # Convertir a minúsculas y luego capitalizar la primera letra de cada palabra
    normalized_text = ' '.join([word.capitalize() for word in text.lower().split()])
    return normalized_text

In [32]:
# Asegurarse de que la columna 'text' está convertida a str y luego aplicar la función
df_tip['text'] = df_tip['text'].astype(str).apply(normalize_and_capitalize)

In [33]:
# Verificar los primeros registros de la columna 'text' después de la transformación
print(df_tip['text'].head())

0                Great Customer Service On Every Visit
1    Never Have A Bad Experience Here. Fast, Friend...
2    Sundays In The Summer Are Nice, Relaxed, And C...
3    Small Place. They Need To Keep The Cream/milk ...
4    Wear Your Winter Clothes If You're Staying - B...
Name: text, dtype: object

In [34]:
# Convertir la columna 'date' a tipo datetime
df_tip['date'] = pd.to_datetime(df_tip['date'], errors='coerce')

In [35]:
# Verificar los primeros registros de la columna 'date' después de la conversión
print(df_tip['date'].head())

0   2016-12-09 23:52:17
1   2013-08-24 00:34:35
2   2013-05-19 21:49:44
3   2011-12-26 19:52:54
4   2012-07-28 20:30:03
Name: date, dtype: datetime64[ns]

In [36]:
# Restablecer el índice
df_tip = df_tip.reset_index(drop=True)

In [37]:
df_tip.head()

,user_id,business_id,text,date,compliment_count
0,_sxfMOKphtb9S_4tq5qXQw,iFunuVzrg10UesZvMPCHHg,Great Customer Service On Every Visit,2016-12-09 23:52:17,0
1,ALNUwFXAHXmFeQ9V2gCTfA,wWoX5l58K8YTokEWRcFstw,"Never Have A Bad Experience Here. Fast, Friend...",2013-08-24 00:34:35,0
2,IFhqsrhESIC66b3ICfV0vw,zXvjFr3lftIlkuFNlY4PRw,"Sundays In The Summer Are Nice, Relaxed, And C...",2013-05-19 21:49:44,0
3,Y-HpR79F_ZqRtGMjZnhwVg,Flu8zFsJbX-mRw2yOFBC-w,Small Place. They Need To Keep The Cream/milk ...,2011-12-26 19:52:54,0
4,PWdye8-VRbkTtKP8oCvDYw,mNO9pUXwxP2VgOhXIPOdgw,Wear Your Winter Clothes If You're Staying - B...,2012-07-28 20:30:03,0

In [38]:
df_tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6865 entries, 0 to 6864
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           6865 non-null   object
 1   business_id       6865 non-null   object
 2   text              6865 non-null   object
 3   date              6865 non-null   datetime64[ns]
 4   compliment_count  6865 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 268.3+ KB

In [39]:
# Guardar el DataFrame como archivo Parquet
df_tip.to_parquet('..//data//tip.parquet')